{% extends 'base.html.twig' %}



{% block title %}Black Beard's island {% endblock %}

{% block body %}
    <style>
        .separateur {
            width: 80px;
            height: 2px;
            background-color: #2aae81;
            margin-bottom: 25px;
        }
         #section_accueil .ctnr {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
<section id="section_accueil">
    <div class="ctnr">
        <h2 style="color: #313131; margin-top: 50px">Testez notre jeu !</h2>
        <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B8aorkubmLw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2 style="color: #313131; margin-top: 50px">Qu'est-ce que c'est ?</h2>
        <div class="separateur"></div>
        <div><p>
                Blackbeard’s Island est un jeu de stratégie pour 2 joueurs. Ton but est de recruter dans ton équipage le maximum de pirates parmi les sept qui sont au milieu, en leur offrant en échange quelque chose qui pourrait les intéresser…
                <br>
                Mais attention, tous les pirates ne recherchent pas la même chose, et ton adversaire pourrait avoir de quoi les convaincre !
                <br>
                Pour gagner, convaincs 4 pirates de rejoindre ton équipage, obtiens 11 points de victoire, ou termine la 3ème manche avec plus de points de vie que ton adversaire !
            </p>

    </div>

</section>
{% endblock %}
